@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --daybg: white;
    --daycolor: white;
}
.container{
    display: none;
}
.loader{
    display: block;
    width: 250px;
    z-index: 2;
    position: relative;
}
.loader img{
    width: 100%;
}
.loader .text{
    position: relative;
    margin-top: -30px;
    font-weight: bold;
    z-index: 3;
    font-size: 1.5em;
    background: -webkit-linear-gradient(180deg, rgba(205,0,255,1) 0%, rgba(255,198,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body.dark {
    --daybg: black;
    --daycolor: white;
}
body{
    background: #222;
    position: relative;
    height: 100vh;
}
body.dark .card{
    background: url(./images/night.gif);
    background-size: cover;
    background-position: center;
}
body.dark .loader{
    display: none!important;
}
.card{
    background: url(./images/clear.gif);
    background-size: cover;
    background-position: center;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 450px;
    border-radius: 20px;
    padding: 30px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.search-box input{
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    outline: none;
    color: #555;
    width: 75%;
    flex: 1;
    height: 50px;
    border-radius: 20px;
    padding: 10px 20px;
    background: #ebfffc;
    margin-right: 10px;
    font-size: 18px;
}
.search-box button{
    border: 2px solid rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    background: #ebfffc;
    outline: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.search-box button img{
    height: 16px;
    width: 16px;
    object-fit: contain;
}
.weather{
    color: var(--daycolor);
}
.weather .weather-icon{
    margin-bottom: 20px;
    width: 150px;
}
.weather .temp{
    letter-spacing: 5px;
    font-family: 'Roboto Slab', serif;
    margin-top: -10px;
    font-size: 4em;
    margin-bottom: 10px;
}
.weather .city{
    letter-spacing: 2px;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 300;
}
.details{
    color: var(--daycolor);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.details .col{
    display: flex;
    align-items: center;
}
.col img{
    width: 30px;
    height: 30px;
}
.col>div{
    text-align: start;
    margin-left: 10px;
}
.col p{
    line-height: 23px;
}
.col .humidity,.wind{
    font-size: 1.5em;
}
.wind span{
    font-size: 0.8em!important;
}
.col p:last-child{
    font-size: 0.8em;
}
.notfoundmsg{
    background-color: rgba(250, 65, 18, 0.733);
    font-size: 0.8em;
    padding: 4px;
    margin-top: -10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
    display: none;
}
.show{
    display: block;
}